{% extends 'base.html' %}

{% block title %}
    Delete Company
{% endblock title %}
{% block content %}
    <main>
        <div class="delete-form">
            <h1>Delete this project</h1>
            <p>Are you sure you want to delete this company?</p>
            <p>This will also delete any projects and tasks that are associated with this company.</p>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-9 btn-sep">Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
