{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        Log In
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <script src="https://kit.fontawesome.com/e952425fa4.js" crossorigin="anonymous"></script>
        <script defer src="{% static 'java.js' %}"></script>


    </head>
    <body>
        <header>
    <nav class="nav">
                    <ul class ="login-page">
                        <li>
                            <a href="{% url 'home_page' %}"><i class="fa-solid fa-house"></i></a>
                        </li>
                        <li>

  
                <label class="switch">
                 <input type="checkbox" id="darkswitch" onclick="tgl()">
                 <span class="slider round">
                 </span>
                 </label>
                </ul>

            </nav>
        </header>
    <main>
        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-8 btn-sep">Login</button>
            </form><br>
            <button class="btn btn-8 btn-sep"><li class ="signup-link"><a href="{% url 'signup' %}"><i class='fas fa-pen-fancy'></i>Sign Up</a></button></li>
        </div>
    </main>
     <footer>
            <p>This task manager was brought to you by Room 92<br> 
            <div class="footer-img"><img src="https://i.postimg.cc/K8b41nh3/92small.jpg"></div>
        </footer>
</body>

