{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <script src="https://kit.fontawesome.com/e952425fa4.js" crossorigin="anonymous"></script>
        <script defer src="{% static 'java.js' %}"></script>
            {% block customscript %}
            {% endblock customscript %}


    </head>
    <body>
        <header bgcolor="{{ color }}">
            <nav class="nav">
                {% if user.is_authenticated %}
                    <ul>
                        <li>
                            <button class="btn btn-1 btn-sep"><a href="{% url 'home_page' %}"><i class="fa-solid fa-house"></i>Home</a></button>
                        </li>
                        <li>
                            <button class="btn btn-5 btn-sep"><a href="{% url 'my_company_list' %}"><i class='far fa-building'></i>Companies</a></button>
                        </li>
                        <li>
                            <button class="btn btn-2 btn-sep"><a href="{% url 'list_projects' %}"><i class='fas fa-project-diagram'></i>Projects</a></button>
                        </li>
                        <li>
                            <button class="btn btn-3 btn-sep"><a href="{% url 'show_my_tasks' %}"><i class="fa-solid fa-list-check"></i>My Tasks</a></button>
                        </li>
                        <li>
                            <button class="btn btn-4 btn-sep"><a href="{% url 'logout' %}"><i class='fas'>&#xf2f5;</i>Logout</a></button>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">SignUp</a>
                        </li>
                    {% endif %}
                <label class="switch">
                 <input type="checkbox" id="darkswitch" onclick="tgl()">
                 <span class="slider round">
                 </span>
                 </label>
                </ul>

            </nav>
        </header>

        {% block content %}
        {% endblock content %}
        <footer>
            <p>This task manager was brought to you by Room 92 <span>&#169</span></p><br>
                <div class="footer-img"><img src="https://i.postimg.cc/K8b41nh3/92small.jpg"></div><br><br>
        </footer>
    </body>
</html>
