{% extends 'base.html' %}

{% block title %}
    Project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ task.name }}</h1>
            {% if task.notes.all %}
            {% for note in task.notes.all reversed %}
                <ul>
                    <li>
                        <p>
                            Added on {{note.created_on|date:"m/j/y" }} {{note.created_on|time:"h:i" }}
                        </p>
                        <p>
                            {{ note.description }}
                        </p>

                    </li>

                </ul>
            {% endfor %}
            {% endif %}

            <button class="btn btn-9 btn-sep"><a href="{% url 'create_note' task.id %}" ><i class='far fa-sticky-note'></i>Add Note</a></button><br><br>
            <button class="btn btn-9 btn-sep"><a href="{% url 'delete_task' task.id %}" ><i class='far fa-trash-alt'></i>Delete This Task</a></button>
        </div>
{% endblock content %}
