{% extends 'base.html' %}

{% block title %}
    Project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ task.name }}</h1>
            {% if task.notes != None %}
                <p>{{ task.notes }}</p>
            {% endif %}

            <a href="{% url 'add_task_notes' task.id  %}" class="delete-project">Edit Note</a><br>
            <a href="{% url 'delete_task' task.id  %}" class="delete-project">Delete This Task</a>
        </div>
{% endblock content %}
