{% extends 'base.html' %}

{% block title %}
    Project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            {% if show_project.owner == user %}
                <button class="btn btn-9 btn-sep"><a href="{% url 'delete_project' show_project.id  %}"><i class='far fa-trash-alt'></i>Delete This Project</a></button>
            <h2>Tasks</h2>
            <p>
                <button class="btn btn-8 btn-sep"><a href="{% url 'create_task' %}"><i class='fas fa-tasks'></i>Create A New Task</a></button>

            </p>
            {% endif %}
            {% if not show_project.tasks.all %}
                <p>This Project Has No Tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Is Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in show_project.tasks.all %}
                            <tr>
                                <td><a href="{% url 'show_task' task.id %}">{{ task.name }}</a></td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"m/j/y" }} {{ task.start_date|time:"h:i" }}</td>
                                <td>{{ task.due_date|date:"m/j/y" }} {{ task.due_date|time:"h:i" }}</td>
                                <td>
                                <form method="post" action="#">
                                {% csrf_token %}
                                <input type="checkbox" name="is_completed" {% if task.is_completed %}checked{% endif %} />
                                </form></td>


                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
