{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %} Home Page
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/projects.css" %}">
        <script src="https://kit.fontawesome.com/e952425fa4.js" crossorigin="anonymous"></script>
        <script defer src="{% static 'java.js' %}"></script>
        <link rel="stylesheet" href="{% static "css/home.css" %}">
    </head>
    <body>
        <header>
            <nav class="nav">
                <li><img src ="https://i.postimg.cc/2y0cf92n/92-2.jpg" alt="92 logo"></li>

                 <label class="switch">
                 <input type="checkbox" id="darkswitch" onclick="tgl()">
                 <span class="slider round">
                 </span>
                 </label>
                </ul>
            </nav>
        </header>
        <main>
        <div>
            <h1>Welcome to Ninety - Two</h1>
            <div id="page-wrap">
        {% if not user.is_authenticated %}
        
        <button type="button" class="login-button" title="Login"><a href="{% url 'login' %}"><i class='fas fa-sign-in-alt' style='font-size:30px'></i></a></button>
        <button type="button" class="signup-button" title="Sign Up"><a href="{% url 'signup' %}"><i class='fas fa-pen-fancy' style='font-size:30px'></i></a></button><br><br><br><br><br><br><br>
        {% else %}
        <button type="button" class="projects-button" title="Projects"><a href="{% url 'list_projects' %}"><i class='fas fa-project-diagram' style='font-size:30px'></i></a></button>
        <button type="button" class="tasks-button" title="Tasks"><a href="{% url 'show_my_tasks' %}"><i class="fa-solid fa-list-check" style='font-size:30px'></i></a></button><br><br><br><br><br><br><br>
        <button type="button" class="logout-button" title="Logout"><a href="{% url 'logout' %}"><i style='font-size:30px' class='fas'>&#xf2f5;</i></a></button>
        <button type="button" class="comp-button" title="Companies"><a href="{% url 'my_company_list' %}"><i class='far fa-building' style='font-size:38px'></i></a></button>
        {% endif %}
        </div>



        </main>

        <footer>
            <p>This task manager was brought to you by Room 92<span>&#169</span><br>

            <div class="footer-img"><img src="https://i.postimg.cc/K8b41nh3/92small.jpg"></div>
        </footer>
    </body>
</html>
